/cleaned_data/
/Projet+Python_Dataset_Edstats_csv/
/.venv/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
/.ipynb_checkpoints/
/Analysez les donnees de systemes educatifs.iml